# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Virtual environment
venv/

# Output files
output/

# --- Local / Private Files ---
# Ignore specific licensed files that should not be committed to the repository.
samples/yoasobi_yorunikakeru.mid
